nav {
  position: fixed;
  overflow: hidden;
  height: 40px;
  width: 40vw;
  margin-left: 30vw;
  bottom: 0;
  background-color: #00696a;
  /* background-color: #00a2b1; */
  text-align: center;
}
.nav-icon {
  display: none;
}
.nav-link,
.nav-icon {
  background-color: inherit;
  height: inherit;
  display: inline-block;
  text-decoration: none;
  padding-top: 5px;
  width: 7vw;
}

.nav-link:hover,
.nav-icon:hover {
  background-color: #00a2b1;
}

@media (max-width: 1100px) {
  nav {
    margin-left: 0;
    width: 100vw;
  }
  .nav-link {
    width: 19vw;
  }
}

@media (max-width: 768px) {
  .nav-link {
    display: none;
  }
  .nav-icon {
    display: inline-block;
    width: 19vw;
  }
}
